<h1><%= @dog.name %></h1>
<ul>
<li>Breed: <%= @dog.breed %></li>
<li>Age: <%= @dog.age %></li>
    <ol>
        <% @dog.employees.each do |employee| %>
            <li>
            <%= link_to employee.full_name, employee%>
            </li>
        <% end %>
    </ol>

</ul>
